body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/back1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-container {
  height: 10%;
  width: 100%;
}

.custom-input-field {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
  background: transparent;
}

.custom-input-field::placeholder {
  color: lightgray;
}

.custom-input-field:focus {
  outline: none;
  background: transparent;
}

.info-card {
  height: 120px;
  width: 120px;
  border-bottom: 1px solid white;
  padding: 10px;
  margin: 5px;
}

.info-card-title {
  font-weight: bold;
  font-size: 16px;
  color: lightgray;
}

.info-card-body {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.temperature-data {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wish-and-icon {
  display: flex;
  align-items: center;
}

#icon {
  margin-left: 40px;
}

#wish {
  font-size: 28px;
  font-weight: bold;
}

#temperature {
  font-size: 50px;
  font-weight: bold;
}

.weather-city {
  padding-left: 15px;
  padding-right: 15px;
}

.default-card {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.default-card.active {
  background: rgba(116, 115, 115, 0.7);
}

.d-card-end {
  display: flex;
  justify-content: flex-end;
}

.d-card-end span {
  margin-right: auto;
}

.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.delete-icon img {
  height: 100%;
  width: 100%;
}

.add-new-city {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.plus-icon img {
  height: 100%;
  width: 100%;
}

.text-mute {
  color: lightgray;
}

.custom-modal-dialog-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.custom-modal-dialog {
  height: 50%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-modal-dialog .input-field {
  width: 40%;
}

.custom-modal-dialog .input-field input {
  width: 100%;
}

.custom-model-head {
  font-size: 30px;
  margin-bottom: 20px;
}

.custom-btn {
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 10px;
}

.custom-btn.add {
  background-color: white;
  color: black;
}

.custom-btn.add:hover {
  color: white;
}

.custom-btn:hover {
  background-color: rgb(51, 51, 51);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* Animated snackbar from here */

.ok {
  background-color: #65c58a;
}

.error {
  background-color: #e22f4d;
}

#alert_status {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#alert_status.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* responsive code */

@media (max-width: 450px) {
  .temperature-data {
    height: 250px;
  }
}

@media (max-width: 930px) {
  .custom-modal-dialog {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .custom-modal-dialog {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .custom-modal-dialog {
    width: 90%;
    text-align: center;
  }

  .custom-modal-dialog .input-field {
    width: 80%;
  }

  .default-card {
    margin: 0px;
  }
}

/* animation */

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
