body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	color: white;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.search-container {
	height: 10%;
	width: 100%;
}

.search-field {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	color: white;
	border-bottom: 2px solid white;
	background: transparent;
}

.search-field::placeholder {
	color: lightgray;
}

.search-field:focus {
	outline: none;
	background: transparent;
}

.info-card {
	height: 120px;
	width: 120px;
	border-bottom: 1px solid white;
	padding: 10px;
	margin: 5px;
}

.info-card-title {
	font-weight: bold;
	font-size: 16px;
	color: lightgray;
}

.info-card-body {
	color: white;
	font-weight: bold;
	font-size: 22px;
}

.temperature-data {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.wish-and-icon {
	display: flex;
	align-items: center;
}

#icon {
	margin-left: 40px;
}

#wish {
	font-size: 28px;
	font-weight: bold;
}

#temperature {
	font-size: 50px;
	font-weight: bold;
}

.text-mute {
	color: lightgray;
}

@media (max-width: 450px) {
	.temperature-data {
		height: 250px;
	}
}

/* Animated snackbar from here */

.ok {
	background-color: #65C58A;
}

.error {
	background-color: #E22F4D;
}

#alert_status {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#alert_status.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}